.education {
    margin-top: 40px;
    min-height: auto;
    border-bottom: 1px solid #3024b51d;
    &-logo {
        display: flex;
        align-items: flex-end;
        margin-bottom: 20px;
    }
    &-about {
        &-title {
            font-size: 30px;
            font-weight: 700;
        }
        &-descr {
            margin-top: 10px;
        }
    }
    &-wrapper {
        display: grid;
        justify-content: center;
        grid-template-columns: 400px 800px;
        grid-template-rows: 210px 260px;
    }
    &-studies {
        min-height: 485px;
        margin-left: 30px;
        &-title {
            font-size: 18px;
            font-weight: 700;
            span {
                font-size: 16px;
                font-weight: 400;
                margin-left: 10px;
            }
        }
        &-descr {
            margin-top: 10px;
            font-style: italic;
        }
    }   
}

@media screen and (max-width: 425px){
    .education {
        &-wrapper {
            grid-template-columns: 350px;
            grid-template-rows: auto auto auto;
        }
        &-studies {
            margin-left: 0;
        }
        &-logo {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}