.header {
    top: 0;
    background-color: white;
    position: fixed;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #3024b51d;
    z-index: 10;
    &-menu-logo {
        cursor: pointer;
    }
    &-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.list-inline {
    display: inline-flex;
    justify-content: right;
    list-style-type: none;
    align-items: center;
    width: 100%;
    &-item {
        margin: 0 20px 0 20px;
        font-style: normal;
        font-weight: 600;
        text-transform: uppercase;
        a {
            text-decoration: none;
            background-color: transparent;
            border: 0;
            cursor: pointer;
            color: black;
            font-size: 12px;
        }
        a:hover {
            transition: 0.5s;
            text-decoration: underline;
            color: #3024b5;
        }
    }
}
.about-social {
    display: grid;
    grid-template-columns: 90px 800px;
    grid-template-rows: repeat(4, 38px);
    &-title {
        font-weight: 600;
    }
    &-icon {
        margin-right: 15px;
    }
}
.hamburger-react {
    display: none;
}
.app-burger {
    display: none;
}
.mobile-btn {
    display: none;
}

@media screen and (max-width: 800px){
    .mobile-btn {
        display: block;
        z-index: 10;
    }
}

@media screen and (max-width: 425px){
    .header {
        display: flex;
        align-items: center;
        position: fixed;
        height: 50px;
        &-menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    .list-inline {
        display: flex;
        margin: 0;
        padding: 0;
        position: absolute;
        flex-direction: column;
        top: 0;
        left: -100%;
        right: 0;
        bottom: 0;
        align-items: center;
        padding-top: 100px;
        height: 100vh;
        background-color: #2F24B5;
        z-index: 10;
        transition: left 0.5s;
        &-item {
            a {
                color: white;
                font-size: 14px;
            }
            a:hover {
                transition: 0.5s;
                text-decoration: none;
                color: white
            }
        }
    }
    .active {
        left: 0;
    }
    .list-inline-item {
        margin-top: 50px;
    }
    .app-burger {
        display: none;
    }
    .mobile-btn {
        display: flex;
        cursor: pointer;
        color: #2F24B5;
        z-index: 10;
    }
}
