.header {
    top: 0;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 85px;
    border-bottom: 1px solid #3024b51d;
    &-menu-logo {
        cursor: pointer;
        display: inline-flex;   
        position: absolute;
        margin-top: 25px;
    }
}
.list-inline {
    display: inline-flex;
    justify-content: right;
    list-style-type: none;
    height: 53px;
    align-items: center;
    width: 100%;
    &-item {
        margin: 0 20px 0 20px;
        font-style: normal;
        font-weight: 600;
        text-transform: uppercase;
        a {
            text-decoration: none;
            background-color: transparent;
            border: 0;
            cursor: pointer;
            color: black;
            font-size: 12px;
        }
        a:hover {
            transition: 0.5s;
            text-decoration: underline;
            color: #3024b5;
        }
    }
}
.about-social {
    display: grid;
    grid-template-columns: 90px 800px;
    grid-template-rows: repeat(4, 38px);
    &-title {
        font-weight: 600;
    }
    &-icon {
        margin-right: 15px;
    }
}