.cards {
    &-list {
        &-block {
            &-name {
                margin-top: 10px;
            }
            &-data {
                margin-top: 5px;
            }
        }
    }
    &-portfolio {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(2, auto);
        gap: 30px;
        margin-bottom: 50px;
    }
    min-height: 875px;
    border-bottom: 1px solid #3024b51d;
    &-wrapper {
        margin-top: 40px;
    }
    &-title {
        font-size: 30px;
        font-weight: 700;
    }
    &-menu {
        padding: 0;
        display: flex;
        list-style-type: none;
        &-list {
            &-active {
                color: #2F24B5;
                text-decoration: underline;
            }
        }
        &-list a{
            padding-right: 25px;
            font-weight: 700;
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
        }
        .categories {
            display: flex;
        }
        .categories div{
            background-color: white;
            border: none;
            cursor: pointer;
            font-size: 18px;
            padding-left: 30px;
            padding-right: 20px;
        }
        .categories div {
            padding-left: 0px;  
        }
        .categories div:hover {
            color: #2F24B5;
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 425px){
    .cards {
        &-portfolio {
            grid-template-columns: auto;
            grid-template-rows: auto;
        }
        &-wrapper {
            display: block;
        }
    }
}

.all {
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding-left: 0;
    padding-right: 20px;
    color: #2F24B5;
    text-decoration: underline;
}