.contact {
    margin-top: 40px;
    min-height: 290px;
    &-about {
        &-descr {
            margin-top: 10px;
        }
        &-title {
            font-size: 30px;
            font-weight: 700;
        }
    }
    &-block {
        display: flex;
        width: 100%;
        &-btn, &-logo {
            display: flex;
            justify-content: flex-end;
        }
        &-logo {
            justify-content: flex-start;
            width: 40px;
            height: 40px;
        }
        &-btn button:hover {
            box-shadow: 9px 8px 10px 0px rgba(0, 0, 0, 0.115);
            transition-duration: 0.8s;
        }
    }
    &-wrapper {
        display: grid;
        justify-content: center;
        grid-template-columns: 400px 800px;
    }
    &-form {
        margin-left: 30px;
        display: grid;
        grid-template-columns: 289px 500px;
        grid-template-rows: 50px 130px;
        input, textarea {
            display: flex;
            border-radius: 2px;
            border: 1px solid #E3E3E3;
            background: #FFF;
            padding-left: 16px;
        }
        textarea {
            padding-top: 16px;
            height: 118px;
            max-width: 431px;
            resize: none;
        }
        input, textarea:focus {
            outline-color: #3024b5;
            outline-width: thin;
        }
        &-name, &-email {
            height: 50px;
            width: 270px;
        }
        &-email {
            margin-top: 30px;
        }
        &-message {
            font-family: 'Lato', sans-serif;
            height: 133px;
            width: 470px;
            margin-left: 30px;
        }
    }
}

.footer {
    margin-top: 20px;
    background: #3024b5;
    padding: 15px 0px;
    text-align: center;
    color: white;
    &-social {
        cursor: pointer;
        a:hover {
            transform: translateY(-5px);
            transition: 0.5s;
        }
        a:not(:hover) {
            transform: translateY(5px);
            transition: 0.5s;
        }
    }
    &-logo {
        cursor: pointer;
    }
    &-wrapper {
        display: grid;
        grid-template-columns: 255px auto auto;
        justify-content: space-between;
        align-items: center;
        a {
            display: flex;
            justify-content: flex-start;
        }
    }
    &-list, &-social {
        display: flex;
        list-style-type: none;
        &-item {
            color: white;
            margin-right: 15px;
        }
    }
    ul a {
        text-decoration: none;
    } 
    &-language {
        button {
            background-color: #3024b5;
            border: none;
            color: white;
            width: 30px;
            cursor: pointer;
        }  
    }
}


@media screen and (max-width: 425px){
    .contact {
        &-wrapper {
            grid-template-columns: 350px; 
            grid-template-rows: 130px 350px 50px 50px;
        }
        &-form {
            grid-template-columns: 350px;
            grid-template-rows: repeat(3, auto);
            margin-left: 0;
            &-message {
                margin-left: 0;
                margin-top: 30px;
                width: auto;
            }
        }
        &-block {
            &-btn {
                display: block;
            }
        }
    }
    .footer {
        &-wrapper {
            grid-template-columns: 350px;
            grid-template-rows: 50px 60px;  
        }
        &-list {
            padding-left: 0;
            display: block;
        }
        &-social {
            justify-content: center;
            padding-left: 0;
        }
        a {
            display: flex;
            justify-content: center;
        }
    }
}