body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg path {
    stroke:inherit;
    stroke-width:inherit;
    fill:inherit;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

@media screen and (max-width: 425px){
    .container {
        width: 350px;
    }
}